bases:
- ../../config/environments.yaml.gotmpl
- ../../modules/templates.yaml.gotmpl
---
releases:
- inherit:
  - template: persistenceStorage

- name: vaultwarden
  inherit:
  - template: requiresPersistence

- name: vscode
  inherit:
  - template: requiresPersistence

- name: chromium
  inherit:
  - template: requiresPersistence

- name: brave
  inherit:
  - template: requiresPersistence
