bases:
- ../../config/environments.yaml.gotmpl
- ../../modules/templates.yaml.gotmpl
---
releases:
- name: flaresolverr
  inherit:
  - template: stateless-deployment

- inherit:
  - template: deployment-storage

- name: prowlarr
  inherit:
  - template: stateful-deployment
  needs:
  - flaresolverr

- inherit:
  - template: shows-storage

- name: sonarr
  inherit:
  - template: stateful-deployment
  - template: use-shows-storage
  needs:
  - prowlarr

- inherit:
  - template: movies-storage

- name: radarr
  inherit:
  - template: stateful-deployment
  - template: use-movies-storage
  needs:
  - prowlarr

- name: bazarr
  inherit:
  - template: stateful-deployment
  - template: use-shows-storage
  - template: use-movies-storage
  needs:
  - sonarr
  - radarr

- name: overseerr
  inherit:
  - template: stateful-deployment
  needs:
  - sonarr
  - radarr

- name: tdarr
  inherit:
  - template: stateful-deployment
  - template: use-shows-storage
  - template: use-movies-storage

- name: tdarr-node
  inherit:
  - template: stateful-deployment
  - template: use-shows-storage
  - template: use-movies-storage