bases:
- ../../config/environments.yaml.gotmpl
- ../../modules/templates.yaml.gotmpl
---
releases:
- inherit:
  - template: persistenceStorage
- inherit:
  - template: sharedStorage

- name: freecad
  inherit:
  - template: requiresSharedStorage

- name: orcaslicer
  inherit:
  - template: requiresSharedStorage
