type: cronjob
schedule: "30 4 * * *"
ttlSecondsAfterFinished: 86400
serviceAccountName: backup
image:
  name: library/alpine
  tag: latest
command:
- sh
- -c
- apk add --no-cache python3 openssh-client kubectl && python3 /opt/backup.py
env:
  PYTHONUNBUFFERED: 1
  
  CONCURRENCY_NAMESPACE: 10
  CONCURRENCY_DEPLOYMENT: 2

  SCALE_UP_TIMEOUT: 30
  SCALE_DOWN_TIMEOUT: 30
  
  EXCLUDE_NAMESPACES: default,kube-flannel,kube-node-lease,kube-public,kube-system,starr
  INCLUDE_NAMESPACES: ai,printer,network,smart-home,media,system,starr # tools
  
  NO_DRY_RUN: 1
volumes:
  config:
  - path: "/opt"
    mode: "0666"
    dir: configmap/scripts

  - path: /root/.ssh/config
    mode: "0644"
    content: |
      {{ tpl (.Files.Get "configmap/ssh/ssh_config") . }}
  secret:
  - path: /root/.ssh/id_ed25519
    content: "{{ .Values.private_key | b64dec }}"
    mode: "0600"