---
# applies helmfile .Values for .gotmpl. See templates.yaml.gotmpl for helm .Values
environments:
  test:
    kubeContext: pc-virtualisation-control-plane
    values:
    - "../../config/test/values.yaml"
    secrets:
    - "../../config/test/secrets.sops.yaml"
    - "../../config/test/keys.sops.yaml"
  live:
    kubeContext: r5c-control-plane
    values:
    - "../../config/live/values.yaml"
    secrets:
    - "../../config/live/secrets.sops.yaml"
    - "../../config/live/keys.sops.yaml"
